/*
CSS Credit: http://www.templatemo.com/
*/

body {

	margin: 0;

	padding:0;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 11px;

	line-height: 1.5em;

	color: #241c1a;

	background: #949599;
	background-image:-webkit-linear-gradient(top, #31353a, #2f3337);
}

a:link, a:visited { color: #996633; text-decoration: none; } 

a:active, a:hover { color: #FF0000; text-decoration: none }

h1 {

	font-size: 18px;

	font-weight: bold;

	color: #9C8700;

}

h2 {

	font-size: 16px;

	font-weight: bold;

	color: #ffdf47;

}



#templatemo_container {


	width: 843px;

	margin: auto;

	background: url(http://upload.wikimedia.org/wikipedia/commons/0/04/Tea_in_different_grade_of_fermentation.jpg) repeat-y;

}

#templatemo_top_section {

	float: left;

	width: 803px;

	height: 230px;

	color: #FFFFFF; 
		
}

#templatemo_top_left{ 
	

	float: left;

	width: 338px;

	height: 230px;

	background: url(images/mountain.jpg) no-repeat;
	background-size: contain;
	background-position: right;
	  opacity: 0.5;

}

#templatemo_top_mid {
	

	float: left;

	width: 429px;

	height: 230px;

}

#templatemo_top_title {

	float: left;

	width: 374px;

	padding:0px 0px 0px 85px;

	font-weight: bold;

	font-size: 34px;
	margin-top: 50px;
	margin-left: 30px;
	line-height: 3.6em;
	border-top: 3px solid #9C8700;
	border-bottom: 3px solid #9C8700;
}

#templatemo_top_title h1 {

		font-weight: bold;
	font-size: 38px;
	padding: 0 0 0 20% ;
	margin: 0;
}



.borderaroundtitle {border-bottom: 2px solid white; margin-left: 20%; margin-top: 17%; padding: 20px 0px 30px 10px; width: 350px; height: 30px;
			border-top: 2px solid white}




.templatemo_topmenu{

	float: left;
	width: 440px;
	margin-top: 14px;
	margin-left: 84px;

}



.templatemo_topmenu ul {

	list-style: none;

	padding: 0px;
}



.templatemo_topmenu li {

	display: inline;
	margin-left: 15px;
    font-size: 20px;
	color: black;
	padding: 0px 0px 20px 15px;

}



______.templatemo_topmenu li a {
	
	font-size: 15px;

	color: black;

	width: 40px;



	margin-left: 20px;
	
	background: url(http://upload.wikimedia.org/wikipedia/commons/0/04/Tea_in_different_grade_of_fermentation.jpg) no-repeat;

	background-position: left;

}


.templatemo_topmenu li a:hover {
	color: #f5f5ab;
}

/*
#templatemo_login_left {

	float: left;

	width: 200px;

	height: 50px;

	margin: 20px 0px 0px 30px;

	font-size: 18px;

	font-weight: bold;

	color: #9C8700;

	padding-top: 30px;

	background: url(http://upload.wikimedia.org/wikipedia/commons/0/04/Tea_in_different_grade_of_fermentation.jpg) no-repeat;

	background-position: right;

}

/*
#templatemo_login_right {

	float: right;

	width: 180px;

	margin: 25px 0px 0px 0px;

	color: #9C8700;

}*/

#templatemo_top_right {

	float: right;

	width: 76px;

	height: 230px;


}

#templatemo_left_section {

	float: left;

	width: 210px;

}

.templatemo_leftmenu {

	width: 210px;

	margin: 0px;

}

.templatemo_leftmenu ul {

	list-style-type: none;

	margin: 0px;

	padding: 20px 0px 0px 40px;

}

.templatemo_leftmenu li a {

	display: block;

	height: 25px;

	font-size: 11px;

	color: #fff;

	background: url(http://sdihousing.com/wp-content/uploads/2011/09/Solid-Colors-Spectrum-Blue.png) no-repeat;

	padding-left: 20px;

	font-weight: bold;

	background-position: left;

	text-decoration: underline;

}

.templatemo_leftmenu li a:hover ,.templatemo_leftmenu li .current{

	background: url(http://sdihousing.com/wp-content/uploads/2011/09/Solid-Colors-Spectrum-Blue.png) no-repeat;

	background-position: left;

	text-decoration: underline;

	color:#CCCCCC;

}



#templatemo_news {

	float: left;

	padding-left: 40px;

	width: 170px;

	text-align: justify;

	color: #fff;
	
	margin-top: 0px;

}

   #templatemo_news ul{
   		padding:0;
	 list-style-type: none;
	 width: 200px;

   }

#templatemo_contact {

	float: left;

	padding-left: 40px;

	width: 170px;

	color: #FFFFFF;
	margin: 0;

}

#templatemo_contact ul {
	padding:0;
	 list-style-type: none;
	 width: 200px;
}

#menuitem3 {
		padding-left: 260px;

}

#templatemo_right_section {

	float: left;

	width: 480px;

	padding: 15px 0px 0px 70px;

	text-align: justify;

}

#templatemo_right_bot {	

	float: left;

	width: 470px;

}

#templatemo_footer {

	clear: both;

	width: 503px;

	height: 31px;
	background-color:#9C8700; 

	padding-left: 40px;

	padding-top: 25px;

	font-weight: bold;

	color: #FFFFFF;

}
/*
#username {

	width: 100px;

	font-size: 10px;

	margin: 10px 0px 0px 5px;

}



#password {

	width: 100px;

	font-size: 10px;

	margin: 3px 0px 0px 10px;

}
/*
#login {

	font-size: 10px;

	font-weight: bold;

	height: 20px;

	background: #9e5846;

	border: 1px solid #8e4d3d;

	color: #FFFFFF;

	margin: 3px 0px 0px 67px;

}*/

.border {

	float: left;

	_border-top: solid 1px #9C8700;

	margin-top: 20px;

	margin-left: 40px;

	width: 170px;

}

.templatemo_product {

	float: left;

	width: 455px;

	height: 105px;

	padding: 10px;
	
	background-color: #6F256f;

}

.templatemo_product img {

	float: left;

	padding-right: 10px;

}

#othercolumn {
	display: none;

	float: left;

	padding-left: 40px;

	width: 170px;

	text-align: justify;

	color: #fff;
	
	margin-top: 0px;

}

   #othercolumn ul{
   		padding:0;
	 list-style-type: none;
	 width: 200px;

   }



@media screen and (max-width: 600px) {
	#templatemo_container {
		_display: none;
		float: none;
		 position: relative;

	}

  .templatemo_top_section {
  	display: none;
  	float: none;
  	    	position: relative;

  }

    #templatemo_top_left{
    	display: none;
    	float: none; 
    	    	position: relative;
    	    }


    templatemo_top_mid {
    	display: none;
    	    	    	position: relative;

    }

    .templatemo_topmenu {
    	_display: none;
    	    	    	position: relative;

    }
    #templatemo_news {
    	float: none;
    	position: relative;

    }

    #templatemo_contact {
    	float: left;
    	width: 300px;
    	margin-left: 0;
    	font-size: 12px;
    }
    .templatemo_product {
    	float: none;
    }
    #templatemo_right_section {
    	float: none;
    	overflow: hidden;
    	position: relative;
    	display: none;
    }
    #templatemo_footer {
    	float: none;
    	position: relative;
    	display: none;
    	height: 50px;
    }

    #templatemo_footer a:link { color: white; text-decoration: none; } 

    .templatemo_topmenu {
	margin: 3% auto;
	}

	#templatemo_top_title {
	float: left;
	width: 90%;
	padding: 0px 0px 0px 10%;
	margin-left: 0%;
	line-height: 3.6em;
	border-top: 3px solid #9C8700;
	border-bottom: 3px solid #9C8700;
	}

	.borderaroundtitle {
	_border-bottom: 2px solid white;
	margin-left: 5%;
	margin-top: 17%;
	padding: 20px 0px 30px 10px;
	width: 350px;
	height: 30px;
	_border-top: 2px solid white;
	}

	#othercolumn {
		display: block;
		position: relative;
		float: none;
	}
	#menuitem3 {
		display: none;
	}

}





